name: Docker PR CI

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: windows-2025
    steps:
      - 
        name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      -
        name: Build the Docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest
